{% extends "base.html" %} {% block title %}About{% endblock %} {% block
    content %}
    <h1>About</h1>
    <br />
    <p>
        This website generates questions and summarys about text. The text is inputed by the user and can be taken from anywhere. 
        It then takes these questions/summarys and puts them into a studyguide or a test. 
        The studyguide or test can then be copied to a external source to be edited. There will always be bad results but those can be removed before the final test or studyguide. 
        The point of this website is to generate a rough draft that can then be slightly edited for a final copy.
    </p>
    <br />
    <br />
    <br />
    <p>
        Every time a studyguide or test is generated it could take a few minutes.
    </p>
    {% endblock %}